.container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: var(--text-color);
	gap: 10px;
	transition: color 0.4s;

	.posterContainer {
		display: flex;
		position: relative;
		width: 100%;
		min-height: 200px;
		align-items: center;
		justify-content: center;

		.poster {
			max-width: 350px;
		}

		& > .favoriteButton {
			position: absolute;
			bottom: 5px;
			right: 5px;
		}
	}

	.description {
		text-align: justify;
	}

}
