.container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 200px;
	height: 200px;
	overflow-y: scroll;
	color: var(--text-color);
	transition: color 0.4s;

	&>label {
		display: flex;
		flex-direction: row;
		gap: 5px;
		cursor: pointer;
		user-select: none;

		&:hover {
			text-decoration: underline;
			text-decoration-color: var(--extra-text-color);
		}

		.titleOption {
			color: var(--extra-text-color);
			transition: color 0.4s;
		}
	}
}