* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cuprum';
	-webkit-tap-highlight-color: transparent;
}

body {
	min-width: 350px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}