/* Light Theme Colors */

$main-color: #6100ed;
$background-color: #FFFFFF;
$text-color: #0b0b0b;
$link-color: #f2dbfa;
$extra-text-color: #787878;
// button
$button-color: #6100ed;
$button-text: #FFFFFF;
$hover-button-color: #FFFFFF;
$hover-button-text: #6100ed;
// input
$input-color: #FFFFFF;
$input-text: #6100ed;
$input-border-color: #787878;
$focus-input-border-color: #6100ed;
// switch
$thumb-color: #6100ed;
$bar-color: #FFFFFF;
// blur
$blur-color: #fcfcfc;

/* Dark Theme Colors */
$dark-main-color: #1e1e1e;
$dark-background-color: #111111;
$dark-text-color: #FFFFFF;
$dark-link-color: #f2dbfa;
$dark-extra-text-color: #787878;
// button
$dark-button-color: #1e1e1e;
$dark-button-text: #787878;
$dark-hover-button-color: #787878;
$dark-hover-button-text: #1e1e1e;
// input
$dark-input-color: #1e1e1e;
$dark-input-text: #787878;
$dark-input-border-color: #1e1e1e;
$dark-focus-input-border-color: #787878;
// switch
$dark-thumb-color: #1e1e1e;
$dark-bar-color: #111111;
// blur
$dark-blur-color: #101010;