.container {
	display: flex;
	align-items: center;
	max-height: 300px;
	gap: 10px;
	padding: 5px;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 0px 20px 0px 20px;

	.rangesBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
	}
}